.movie{
    width: 160px;
    height: 99px;
    background-color: #13a4ce;
    color:black;
    margin: 10px;    
}

.details{
    width: 240px;
    margin: 10px;
    background-color: mediumblue;
    color: wh;
    float: left;
}

.selected{
    border: 2px royalblue solid;    
}

#movies{
    width: 220px;
    float: left;
}
