/*overriding bootstrap list-group-item styling*/
.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
    z-index: 2;
    background-color: #990000;
    border-color: #2c3e50;
    font-weight: bold;
}

.details{
    width: 240px;
    margin: 10px;
    background-color: mediumblue;
    color: black;
    float: left;
}

body {
	padding-top: 5em;
}

.main-content {
	padding-bottom: 2em;
}

/*.movie{
    width: 160px;
    height: 40px;
    background-color: lightgray;
    color:black;
    margin: 5px;
}*/

/*#movies{
    width: 220px;
    float: left;  
}*/

/*changing bootstrap defaults
* {
   font-size: 14px;
   line-height: 2;
}*/
