.movie{
    width: 160px;
    height: 50px;
    /*background-color: lightgray;*/
    /*color:black;*/
    margin: 5px;
}

.details{
    width: 240px;
    margin: 10px;
    background-color: mediumblue;
    color: black;
    float: left;
}

.selected{
    border:1px royalblue solid;
}

/*#movies{
    width: 220px;
    float: left;  
}*/

body {
	padding-top: 5em;
}

.main-content {
	padding-bottom: 2em;
}

changing bootstrap defaults
* {
   font-size: 14px;
   line-height: 2;
   /*font-weight: bold;
}

